# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
dist-ssr
dist_electron
*.exe
*.dmg
*.AppImage
release/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local

# Vscode
.vscode/*
!.vscode/extensions.json
.idea
.shaka/
